.guitar {
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: center;

    & h1 {
        font-size: 2.2rem;
        color: $third-color;
    }

    &__btns {
        margin-top: 4px;
        margin-bottom: 1rem;
    }

    &__btn {
        background-color: $second-color;
        color: $fourth-color;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1rem;
        margin: 1rem;
        border-radius: 32px;
        width: 15rem;
        height: 5rem;
    }

    &__scaleBtn {
        background-color: $fourth-color;
        color: $prime-color;
        font-size: 2rem;
        padding: 2rem;
        margin: 1rem;
        width: 7rem;
        height: 7rem;
        border-radius: 16px;

        &-clicked {
            background-color: $second-color;
            color: $prime-color;
            font-size: 2rem;
            padding: 2rem;
            margin: 1rem;
            border-radius: 16px;
            width: 7rem;
            height: 7rem;
        }
    }

    &__practice-btn {
        background-color: $fifth-color;
        color: $third-color;
        font-size: 3rem;
        padding: 2rem;
        margin: 1rem;
        border-radius: 24px;
    }

    &__reset-scale {
        background-color: $second-color;
        color: $third-color;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
        border-radius: 24px;
    }
}