.g-scales{
    &__heading {
        color: $fourth-color;
        font-size: 3rem;
    }

    &__tab {
        border-radius: 16px;
        margin: 100% -80%;
        transform: rotate(90deg);
    }
}